<!-- Name :- Bishwajit Sonar
Student Id: - 21063833 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro:wght@300&display=swap"
        rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'signIn.css') }}">
    <title>The Antiques Shop</title>
</head>

<body>
    <section class="side">
        <p style="color: red;"> {{message}} </p>
        <h1> <a href="{{url_for('index')}}">Welcome To Antiques Shop</a></h1>
        <div class="separator"></div>
        <p>To the light of day the antiques are ever-new, <br> it touches them the same now as it did at their birth.
        </p>
        <p>If not having account ? <br><button class="submit"><a href="{{url_for('signUp')}}">SignUp</a></button></p>
    </section>
    <section class="main">
        <div class="login-container">
            <p class="title"><a href="{{url_for('index')}}">The Antiques Shop</a> </p>
            <div class="separator"></div>
            <p class="welcome-message">Please, provide login credential to proceed and have access to all our services
            </p>

            <form action="/forgetPassword" class="login-form" method="POST">
                <div class="form-control">
                    <input type="text" name="userName" value="{{request.form.userName}}" placeholder="UserName" required>
                    <i class="fas fa-user"></i>
                </div>
                <!-- <div class="form-control">
                    <input type="text" name="oldPassword" value="{{request.form.oldPassword}}" placeholder="OldPassword" required>
                    <i class="fas fa-user"></i>
                </div> -->
                <div class="form-control">
                    <input type="password" name="newPassword" placeholder="New Password" value="{{request.form.password}}"
                        required>
                    <i class="fas fa-lock"></i>
                </div>
                <div class="form-control">
                    <input type="password" name="confirmPassword" placeholder="Comfirm Password"
                        value="{{request.form.password}}" required>
                    <i class="fas fa-lock"></i>
                </div>
                <!-- <button class="submit"><a href="index.html">Login</a></button> -->
                <button class="submit"><a>Reset Password</a></button>
                <button class="submit"><a href="{{url_for('signIn')}}">LogIn</a></button>
            </form>

        </div>

    </section>


</body>

</html>