<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://kit.fontawesome.com/651c4914c4.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro:wght@300&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
    <title>The Antiques Shop</title>
</head>
<body>
  <header id="heading">
    <span class="navLogo" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div  class="headerLogo">
        <a href="{{url_for('index')}}">
          <h1><span>the</span>Antique
          </h1>
        </a>
    </div>
    <div class="navbar" >
        <div id="mySidenav" class="sidenav">
          <nav class="navAll">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="#top"><i class="fa fa-fw fa-home"></i>Home</a>
              <a href="#contact"><i class="fa fa-fw fa-envelope"></i>Contacts</a>
              <a href="{{url_for('index')}}">IndividualItems</a>
              <a href="{{url_for('setItems')}}">SetsItems</a>
          </nav>
        </div>
      </div>
    <div class="logAndRegisterButton">
      <button class="register">
        <a href="{{url_for('signUp')}}">SignUp </a>
      </button>
    </div>
  </header>
      <section class="indexBody" id="top">
        <div class="imageSection">
            <h1>Identify and Research Your Antiques</h1>
            <p>To the light of day the antiques are ever-new, <br> it touches them the same now as it did at their birth.</p>
        </div>
      </section>
      <div class="card">
        {% for row in rows %}
        <div class="card-body">
          <p class="card-title">
            <b>{{row[0]}}</b> 
          </p>
          <!-- <img src="./static/antique.jpeg" alt=""> -->
          <p class="card-text">
            {{row[1]}}
          </p>
          <p class="text-primary">
            <b>Price: £ {{row[2]}}</b> 
          </p>
          <p>
            {% for s in sets %}
              {% if (row[0] == s[0])%}
                  <span>{{s[1]}},</span> 
              {% endif %}
            {% endfor %}
          </p>
          
          <div class="buyButton" style="display: flex; flex-direction: row; justify-content: center;">
            <button><a href="{{url_for('signIn')}}">Buy</a></button>
          </div>
          
        </div>
        {% endfor %}
      </div>
      <section id="contact" class="contactSection">
        <h1>
          THE ANTIQUES SHOP<br />
          NEPAL
        </h1>
        <p>_____________</p>
        <p>Mustang Dhaulagiri, Provision 5 <br />Bristol</p>
        <p>Phone:- <a href="#">9898989898</a></p>
        <p>Email: <a href="www.gmail.com">theantiqueshop@hotel@gmail.com</a></p>
        <p>FaceBook: <a href="www.facebook.com">TheAntiqueShop</a></p>
      </section>
      <footer>
        <div class="media">
          <a href="www.facebook.com" target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="www.gmail.com" target="_blank"
            ><i class="fas fa-mail-bulk"></i
          ></a>
          <a
            href="https://www.google.com/maps/place/Shree+Muktinath+Temple,+Muktinath-Chumig+Gyatsa+Pilgrimage+Site,+Muktinath+33100,+Nepal/@28.8166048,83.8714288,18z/data=!4m2!3m1!1s0x39be1420f935fa2f:0xb6f4363b17b0a97f"
            target="_blank"
            ><i class="fas fa-search-location"></i
          ></a>
          <a href="www.instagram.com" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
        <p>&copy 2022 THE ANTIQUE SHOP, NEPAL</p>
        <p>
          <a href="{{url_for('privacyAndPolicy')}}">Privacy Policy</a>
          | Designed and Developed By Bishu
        </p>
      </footer>
      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
</body>
</html>