<!-- Name :- Bishwajit Sonar
Student Id: - 21063833 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'booking.css') }}" /> -->
  <script src="https://kit.fontawesome.com/651c4914c4.js" crossorigin="anonymous"></script>
  <title>Term And Condition</title>
</head>

<body>
  <header class="header">
    <div class="heading_title">
      <a>The Antiques Shop</a>
    </div>
    <div class="nav_bar">
      <nav>
        <ul>
          
        </ul>
      </nav>
    </div>
  </header>
    <div id="main_body">
      <div class="guest">
        <h1>Term And Condition</h1>
        <br>
        <br>
        <h3>Content of these terms:- </h3>
        <ul>
            <li id="#one">Making a booking and identification required on arrival at the hotel</li>
            <li id="#payment">Payment</li>
            <li id="#cancle">Cancellation, amendments, refunds and no shows</li>
            <li id="#about">Information about us and how to contact us</li>
        </ul>
        <h2 id="one">Making a booking and identification required on arrival at the hotel</h2>
        <ul>
            <li>Please follow the directions on the website, mobile site or app or as advised to you on our telephone booking service to make a booking.</li>
            <li>If You book room between 80 to 90 days in advance then you get 20% discount in total prices.</li>
            <li>If You book room between 79 to 60 days in advance then you get 10% discount in total prices.</li>
            <li>If You book room between 59 to 45 days in advance then you get 5% discount in total prices.</li>
            <li>If You book room before 45 days in advance then you have not get any discount in total prices.</li>
            <li>You must be aged 18 years or over to make a booking with us and you must be aged 18 years or over to stay alone.</li>
            <li>You must be able to show photo identification (a driver’s licence, passport or national ID card).</li>
        </ul>
        <h2 id="payment">Payment</h2>
        <ul>
            <li>The rate for each room is as published on our website, mobile site or app (as applicable) at the time of your booking on that channel or in the case of a telephone booking as advised to you at the time of booking.</li>
            <li>All payments are due in full at the time of booking unless you are otherwise advised by us.</li>
            <li>Payment information such as payment card number, expiry date and billing address</li>
        </ul>
        <h2 id="cancle">Cancellation, amendments, refunds and no shows</h2>
        <ul>
            <li>Booking cancellation before 60 days of booking date does not incur
                cancellation charges.</li>
            <li>Booking cancellation between 30 and 60 days of booking date will
                incur charges up to 50% of booking price.</li>
            <li>Within 30 days of booking date 100% of booking price will be
                charged.</li>
        </ul>
        <h2 id="about">About</h2>
        <ul>
            <li>The meaning of "The Everest Hotel", “we” or “us” in these terms will depend on the location of the hotel you are booking.</li>
            <li>If you want to contact to use go to the end of the page you get number and email in home page.</li>
            <li>Every condition is implement on you so please go through every term and condition and about policy.
            </li>
        </ul>
      </div>
    </div>
  <footer>
    <div class="icon">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-instagram-square"></i>
    </div>
    <div class="footer_text">
      <p>&copy; Copyright 2021 THE EVEREST HOTEL, NEPAL</p>
      <p>Designed & Developed by WW</p>
    </div>

  </footer>
</body>

</html>











